name: Download and Release (Multi-threaded)

on:
  workflow_dispatch:

jobs:
  download_and_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Install aria2
        run: sudo apt-get update && sudo apt-get install -y aria2

      - name: Multi-threaded Download
        env:
          SP_COOKIE: ${{ secrets.git }}
        run: |
          echo "--- 开始多线程下载 ---"
          URL="https://file-cdn.gitcode.com/4104105/releases/untagger_81fdbbca4c8f4184b95fed3018f1f304/CTW-v4.4.221%E6%B1%89%E5%8C%96%E4%BF%AE%E5%A4%8D-mod%E8%8F%9C%E5%8D%95_kill2%E5%A4%87%E7%94%A8%E7%89%88B.apk?auth_key=1767386991-64b41aa163c847fc89946aacaa5f0daf-0-765c6143a7d4cf4c88d2358f0923d05abba58898237283dd634bd964fddbb27e"

          # -x 16 表示使用 16 个线程
          aria2c -x 16 -s 16 \
                 --header="Cookie: $SP_COOKIE" \
                 --user-agent="Mozilla/5.0" \
                 "$URL"

          echo "--- 下载完成，查看文件 ---"
          ls -lh

      - name: Create Release and Upload
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "download-v${{ github.run_number }}"
          name: "Download v${{ github.run_number }}"
          body: |
            ## 多线程下载完成
            - 自动获取文件名，无需手动指定。
          files: ./*